    <div class="col-lg-3">
      <div class="admin-leftbar">
        <ul>
          <li class="term">Раздел вакансий</li>
          <li><%= link_to 'Категории для вакансий', categories_path %></li>
          <li><%= link_to 'Страны для вакансий', countries_path %></li>
          <li><%= link_to 'Список вакансий', adminposts_path %></li>
          <li><%= link_to 'Добавить вакансию', new_post_path %></li>
          <li class="term">Раздел вакансий</li>
          <li><%= link_to 'Список резюме', agencies_path %></li>
          <li><%= link_to 'Список резюме', agencies_path %></li>
          <li class="term">Раздел форума</li>
          <li><%= link_to 'Список тем', topics_path %></li>
          <li><%= link_to 'Список разделов', themes_path %></li>
          
        </ul>
      </div>
    </div>