<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<% if has_role? (:admin) %>
					<p><%= link_to "Admin", admin_path %></p> <%= image_tag "stars.png" %>
					<% else %>
					<p><%= link_to 'Rabota in', posts_path %></p> <%= image_tag "stars.png" %></p> 
					<% end %>
				</div>
			</div>

			<div class="col-lg-10">

				<% if current_page?('http://localhost:3000/users/sign_in')
					%>
					sss

					<% else %>


					<div class="menu">
						<ul>
							<li><%= link_to 'Главная', posts_path %></li>
							<li><%= link_to 'Каталог агентств', agencies_path %></li>
							<li><%= link_to 'Форум', topics_path %></li>
							<li><%= link_to 'База резюме', resumes_path %></li>
							<li><%= link_to 'Добавить резюме', controller: "resumes", action: "new" %></li>
							<li class="add-post"><%= link_to 'Подать обьявление', controller: "posts", action: "new" %> </li>
							<li class="user-logo"><%= link_to (image_tag "stars.png"), edit_user_registration_path %></li>
						</ul>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</header>