<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<% if has_role? (:admin) %>
					<p><%= link_to "Admin", admin_path %></p> <%= image_tag "stars.png" %>
					<% else %>
					<p><%= link_to 'Rabota in', posts_path %></p> <%= image_tag "stars.png" %></p> 
					<% end %>
				</div>
			</div>

			<div class="col-lg-10">

				<% if current_page?('http://localhost:3000/users/sign_in')
					%>
					sss

					<% else %>


					<div class="menu">
						<ul>
							<li><%= link_to 'Главная', posts_path %></li>
							<li><%= link_to 'Каталог агентств', agencies_path %></li>
							<li><%= link_to 'Форум', topics_path %></li>
							<li><%= link_to 'База резюме', resumes_path %></li>
							<li><%= link_to 'Добавить резюме', controller: "resumes", action: "new" %></li>
							<li class="add-post"><%= link_to 'Подать обьявление', controller: "posts", action: "new" %> </li>

							<% if user_signed_in? %>

							<div class="dropdown">
								<span><%= link_to (image_tag "stars.png"), edit_user_registration_path, class: 'user-logo' %></span>
								<div class="dropdown-content">
									<p><%= link_to 'Редактировать', edit_user_registration_path%></p>
									<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
								</div>
							</div>

							<% else %>

							<li class="user-logo"></li>

							<%= link_to('Login', new_user_session_path)  %>  

							<% end %>
						</ul>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</header>



	<style>
		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
			z-index: 1;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
	</style>



