     <div class="countries">
      <p>Вакансии по странам:</p>
      <ul>


        <% @countries.order(title: :desc).each do |country| %>
        <li><%= link_to country.title, country %></li>
        <% end %>
      </ul>
      <ul>
        <% @countries.order(title: :desc).each do |country| %>
        <li><%= link_to country.title, country %></li>
        <% end %>
      </ul>
    </div>

    <div class="categories">
      <p>Вакансии по категориям:</p>
      <ul>
        <% @categories.each do |category| %>
        <li><%= link_to truncate(category.title, length: 15), category, title: category.title %></li>
        <% end %>
      </ul>
      <ul>
        <% @categories.each do |category| %>
        <li><%= link_to truncate(category.title, length: 15), category %></li>
        <% end %>
      </ul>
    </div>


    <%= image_tag "esw.gif" %>