     <div class="countries">
      <p>Вакансии по странам:</p>
      <ul>


        <% @countries.order(title: :desc)[0,16].each do |country| %>
        <li><%= link_to country.title, country %></li>
        <% end %>
      </ul>
      <ul>
        <% @countries.order(title: :desc)[17,31].each do |country| %>
        <li><%= link_to country.title, country %></li>
        <% end %>
      </ul>
    </div>

    <div class="categories">
      <p>Вакансии по категориям:</p>
      <ul>
        <% @categories.each do |category| %>
        <li><%= link_to category.title, category %></li>
        <% end %>
      </ul>
      <ul>
        <% @categories.each do |category| %>
        <li><%= link_to category.title, category %></li>
        <% end %>
      </ul>
    </div>


    <%= image_tag "esw.gif" %>