
<%= simple_form_for(@theme) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
	<%= f.input :theme %>
</div>

<% if has_role?(:admin) %>
<div class="form-inputs">
	<%= f.select :status, options_for_select([["Опубликовать", "0"], ["Закрыть", "1"]]) %>
</div>
<% else %>


<% end %>


<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>
