<ul>
	<%= form_for theme do |f| %>
	<li>
		<%= f.label :status, theme.theme %>
	</li>
	<%= link_to 'Показать', theme %>
	<%= link_to 'Редактировать', edit_theme_path(theme) %>
	<%= link_to 'Удалить', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</ul>