<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @agency.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agency.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @agency.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @agency.rating %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @agency.datetime %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
