<% if has_role?(:admin) %>

	
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<%= render "components/admin-left" %>
			</div>
			<div class="col-lg-9">
				<p id="notice"><%= notice %></p>
				<div class="trigger">
					<h1>Список всех вакансий <%= link_to 'Добавить вакансию', new_post_path, class: 'btn btn-primary' %></h1> 
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Название категории</th>
							<th>URL категории</th>
							<th>Функции:</th>
						</tr>
					</thead>
					<tbody>
					<% @posts.each do |post| %>
						<tr>
							<td><%= category.title %></td>
							<td><%= category.slug %></td>
							<td><%= link_to 'Показать', category %> <%= link_to 'Редактировать', edit_category_path(category) %> <%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>


<% elsif has_role?(:manager) %>

Manager inda hooooooouseeee

<script type="text/javascript">
    window.location.href="/posts"  // put your correct path in a string here
</script>
<% end %>