<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "components/admin-left" %>
    </div>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>
      <div class="trigger">
        <h1>Список обсуждений <%= link_to 'Добавить агентство', new_agency_path, class: 'btn btn-primary' %></h1> 
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Название категории</th>
            <th>URL категории</th>
            <th>Функции:</th>
          </tr>
        </thead>
        <tbody>
          <% @agencies.each do |agency| %>
          <tr>
            <td><%= agency.title %></td>
            <td><%= link_to 'Показать', agency %> </td>
            <td><%= link_to 'Редактировать', edit_agency_path(agency) %> <%= link_to 'Удалить', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>