<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Форум о работе, трудоустройстве и проживании за рубежом</h1>
			</div>
			<div class="col-lg-12">
				<div class="log-in">
					<input type="text" placeholder=" Логин">
					<input type="text" placeholder=" Введите пароль">
					<button>Войти</button>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="topiclist">
					<p class="section"><i class="fa fa-bullhorn" aria-hidden="true"></i> Трудоустройство в Норвегии</p>
					<ul>
						<li>
							<div class="icons"><i class="fa fa-globe" aria-hidden="true"></i> </div>
							<div class="block"><%= link_to "Норвегия от EURO STUDY AND WORK", frmshow_path %>
								<p class="top-desc">Краткое описание этого обьявления</p>
							</div>
							<div class="topics-cn">12
								<p>Ответа</p>
							</div>

							<div class="topics-cn">1241
								<p>просмотров</p>
							</div>

							<div class="topics-time">Ссылка на поледний овет
								<p>ответил <strong>admin</strong> 22.10.2018</p>
							</div>


						</li>
					</ul>

					<ul>
						<li>
							<div class="icons"><i class="fa fa-globe" aria-hidden="true"></i> </div>
							<div class="block"><%= link_to "Кидалово или реально?", frmshow_path %>
								<p class="top-desc">Краткое описание этого обьявления</p>
							</div>
							<div class="topics-cn">12
								<p>Ответа</p>
							</div>

							<div class="topics-cn">1241
								<p>просмотров</p>
							</div>

							<div class="topics-time">Ссылка на поледний овет
								<p>ответил <strong>admin</strong> 22.10.2018</p>
							</div>


						</li>
					</ul>

					<ul>
						<li>
							<div class="icons"><i class="fa fa-globe" aria-hidden="true"></i> </div>
							<div class="block"><%= link_to "Кто что знает об этом?", frmshow_path %>
								<p class="top-desc">Краткое описание этого обьявления</p>
							</div>
							<div class="topics-cn">12
								<p>Ответа</p>
							</div>

							<div class="topics-cn">1241
								<p>просмотров</p>
							</div>

							<div class="topics-time">Ссылка на поледний овет
								<p>ответил <strong>admin</strong> 22.10.2018</p>
							</div>


						</li>
					</ul>

					<ul>
						<li>
							<div class="icons"><i class="fa fa-globe" aria-hidden="true"></i> </div>
							<div class="block"><%= link_to "Норвегия от EURO STUDY AND WORK", frmshow_path %>
								<p class="top-desc">Краткое описание этого обьявления</p>
							</div>
							<div class="topics-cn">12
								<p>Ответа</p>
							</div>

							<div class="topics-cn">1241
								<p>просмотров</p>
							</div>

							<div class="topics-time">Ссылка на поледний овет
								<p>ответил <strong>admin</strong> 22.10.2018</p>
							</div>


						</li>
					</ul>

				</div>


			</div>
			<div class="col-lg-3">
				<div class="topiclist">
					<p class="section"><i class="fa fa-bar-chart" aria-hidden="true"></i> Рекламный блок</p>
					<div class="adv">
						<%= image_tag "esw.gif" %>
					</div>
				</div>

				<div class="topiclist">
					<p class="section"><i class="fa fa-bar-chart" aria-hidden="true"></i> Рекламный блок</p>
					<div class="adv">
						<ul>
							<li id="stat">Сейчас на сайте: 5</li>
							<li class="stat">Всего тем: 5</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>