<div class="search-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<%= form_for @search do |f| %>

				<div class="search">
					<%= f.text_field :keywords, placeholder: "Ключевые слова"  %>

					<%= f.collection_select :category_id, Category.order(:title), :id, :title, :include_blank => 'Все категории' %>
					<%= f.collection_select :country_id, Country.order(:title), :id, :title, :include_blank => 'Все страны' %>

					<select name="" id="">
						<option value="">Постоянная работа</option>
					</select>
					<%= f.submit "Подобрать вакансию", class: 'btn btn-warning' %>

				</div>
				<% end %>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render "components/admin-left" %>
		</div>
		<div class="col-lg-9">
			<p id="notice"><%= notice %></p>
			<div class="trigger">
				<h1>Список всех резюме <%= link_to 'Добавить резюме', new_resume_path, class: 'btn btn-primary' %></h1> 
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Название категории</th>
						<th>Функции:</th>
					</tr>
				</thead>
				<tbody>
					<% @resumes.each do |resume| %>
					<tr>
						<td><%= resume.title %></td>
						<td><%= link_to 'Показать', resume %> <%= link_to 'Редактировать', edit_resume_path(resume) %> <%= link_to 'Удалить', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

