<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "components/admin-left" %>
    </div>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>
      <div class="trigger">
        <h1>Список обсуждений <%= link_to 'Добавить обсуждение', new_topic_path, class: 'btn btn-primary' %></h1> 
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Название категории</th>
            <th>URL категории</th>
            <th>Функции:</th>
          </tr>
        </thead>
        <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= topic.title %></td>
            <td><%= link_to 'Показать', topic %> </td>
            <td><%= link_to 'Редактировать', edit_topic_path(topic) %> <%= link_to 'Удалить', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>