<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "components/admin-left" %>
    </div>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>
      <div class="trigger">
        <h1>Страны для вакансий <%= link_to 'Добавить категорию', new_country_path, class: 'btn btn-primary' %> <%= @countries.count %></h1> 
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Название категории</th>
            <th>URL категории</th>
            <th>Функции:</th>
          </tr>
        </thead>
        <tbody>
        <% @countries.each do |country| %>
          <tr>
            <td><%= country.title %></td>
            <td><%= country.slug %></td>
            <td><%= link_to 'Показать', country %> <%= link_to 'Редактировать', edit_country_path(country) %> <%= link_to 'Удалить', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>