<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>




<div class="post-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="trigger">
          <!--<h1>Добавить вакансию</h1>-->
        </div>
      </div>

      <div class="col-lg-12">

        <div class="post-field">
          <p>Заголовок вакансии:</p>
          <%= form.text_field :title, id: :post_title, placeholder: "Строители в Германию"  %>
        </div>

        <div class="post-field">
          <p>Ваш e-mail:</p>
          <%= form.text_field :email, id: :post_email, placeholder: "example@google.com" %>
        </div>

        <div class="post-field">
          <p>Зароботная плата:</p>
          <%= form.text_field :payment, id: :post_payment, placeholder: "Зароботная плата" %>
        </div>

        <div class="post-field">
          <p>Категории:</p>
          <%= form.collection_select :category_id, Category.order(:title), :id, :title, { include_blank: "Выберите категорию" } %>
        </div>

        <div class="post-field">
          <p>Страны:</p>
          <%= form.collection_select :country_id, Country.order(:title), :id, :title, { include_blank: "Выберите страну" } %>
        </div>

        <div class="post-field">
          <p>Тип вакансии:</p>

          <%= form.collection_select :job_id, Job.order(:title), :id, :title, { include_blank: "Выберите тип предложения" }%>



        </div>

        <div class="post-field">
          <p>Добавить описание:</p>
          <%= form.text_area :description, id: :post_description %>
        </div>

        <p class="company-desc">Описание вашей компании:</p>

        <div class="post-field">
          <p>Введите название:</p>
          <%= form.text_field :company, id: :post_company, placeholder: "Название вашей компании" %>
        </div>

        <div class="post-field">
          <p>Ваш сайт:</p>
          <%= form.text_field :site, id: :post_site, placeholder: "https://www.google.com" %>
        </div>

        <div class="post-field">
          <p>Ваш номер телефона: <span>*номер телефона не публикуется</span></p>
          <%= form.text_field :phone, id: :post_phone, placeholder: "(+38)067-565-12-43"  %>
        </div>


        <div class="post-field">
          <p>AGENT STYLE</p>
          <%= form.select :ath, options_for_select([["Agency", "0"], ["Not Agency", "1"]]) %>

        </div>


        <% if has_role?(:admin) %>

        <div class="post-field">
          <p>OLD?</p>
          <%= form.select :old, options_for_select([["YES", "1"], ["NO", "0"]]) %>

          <% form.text_field :old, id: :post_old, value: '1' %>
        </div>


        <div class="visible">
          <% else %>
          <div class="crypt">

            <% end %>
            <div class="post-field">
              <p>PAYMENT STATUS</p>
              <%= form.text_field :st, id: :post_st, value: '0' %>
            </div>


            <div class="field">
              <%= form.label :datetime %>
              <%= form.datetime_select :datetime, id: :post_datetime %>
            </div>
          </div>

          <div class="actions">
            <%= form.submit class: 'btn btn-primary', value: 'Подать обьявление' %>
          </div>


          <style>
            .crypt {
              display: none;
            }
          </style>
        </div>
      </div>
    </div>
  </div>

  <% end %>
