
<div class="posts">
  <div class="container">
    <div class="row">
     <div class="col-lg-12">
      <%= form_for @search do |f| %>

      <div class="search">
        <%= f.text_field :keywords, placeholder: "Ключевые слова"  %>

        <%= f.collection_select :category_id, Category.order(:title), :id, :title, :include_blank => 'Все категории' %>
        <%= f.collection_select :country_id, Country.order(:title), :id, :title, :include_blank => 'Все страны' %>

        <select name="" id="">
          <option value="">Постоянная работа</option>
        </select>
        <%= f.submit "Подобрать вакансию", class: 'btn btn-warning' %>
        
      </div>
      <% end %>

    </div>

    <div class="col-lg-9">
      <p class="count">Всего обьявлений: <%= @posts.count + 193212 %></p>
      <table class="table table-striped">
        <!--
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
        -->
        <tbody>

          <% @posts.each do |post| %>

          <tr>
            <td><i class="fa fa-cog" aria-hidden="true"></i> <%= link_to truncate(post.title, length: 62), post %></td>
            <td>
              <%= link_to post.country.title, country_path(post.country_id) %>
            </td>


<!--
              <td><%= post.category_id && post.category.title %></td>
            -->
            <td>Постоянная</td>
            <td class="stars">

              <% if post.st == "5" %>
              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>

              <% elsif  post.st == "4"  %>


              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>

              <% elsif  post.st == "3"  %>


              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              <% else %>
              <%= post.datetime.strftime("%d.%m.%Y") %>
              <% end %>


            </td>
            <% end %>
          </tr>
    

        </tbody>
      </table>
    </div>
    <div class="col-lg-3">

      <div class="countries">
        <p>Вакансии по странам:</p>
        <ul>
          <% @countries.each do |country| %>
          <li><i class="fa fa-plus" aria-hidden="true"></i> <%= link_to country.title, country %></li>
          <% end %>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
        </ul>
        <ul>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">Нидерланды</a></li>
        </ul>
      </div>

      <div class="categories">
        <p>Вакансии по категориям:</p>
        <ul>
          <% @categories.each do |category| %>
          <li><%= link_to category.title, category %></li>
          <% end %>
          <li><a href="#">Горничная</a></li>
          <li><a href="#">IT-сфера</a></li>
          <li><a href="#">Водитель</a></li>
          <li><a href="#">Горничная</a></li>
          <li><a href="#">Гувернантка</a></li>
          <li><a href="#">Домработница</a></li>
          <li><a href="#">Дизайнер</a></li>
          <li><a href="#">Оформитель</a></li>
          <li><a href="#">Журналист</a></li>
        </ul>
        <ul>
          <li><a href="#">Горничная</a></li>
          <li><a href="#">IT-сфера</a></li>
          <li><a href="#">Водитель</a></li>
          <li><a href="#">Горничная</a></li>
          <li><a href="#">Гувернантка</a></li>
          <li><a href="#">Домработница</a></li>
          <li><a href="#">Дизайнер</a></li>
          <li><a href="#">Оформитель</a></li>
          <li><a href="#">Журналист</a></li>
          <li><a href="#">Инженер</a></li>
          <li><a href="#">Медперсонал</a></li>
        </ul>
      </div>


      <%= image_tag "esw.gif" %>


<!--
   <h1>Categories</h1>

   <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Description</th>
        <th>Slug</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.body %></td>
        <td><%= category.description %></td>
        <td><%= category.slug %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

-->
</div>
</div>
</div>
</div>


<%= render "components/footer" %>



<!--
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Company</th>
      <th>Email</th>
      <th>Site</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.category_id && post.category.title %></td>
      <td><%= post.company %></td>
      <td><%= post.email %></td>
      <td><%= post.site %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>


-->

