<div class="posts">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<p class="count">Робота в стране - <%= @category.title %></p>
				<table class="table table-striped">
        <!--
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
        -->
        <tbody>
         <% @posts.each do |post| %>

         <tr>
          <td><i class="fa fa-cog" aria-hidden="true"></i> <%= link_to post.title, post %></td>
          <td>
           <%= link_to post.country.title, country_path(post.country_id) %>
         </td>


<!--
              <td><%= post.category_id && post.category.title %></td>
            -->
            <td>Постоянная</td>
            <td>12.12.2017</td>
            <% end %>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="col-lg-3">

    <%= render 'components/right-sidebar' %>


<!--
   <h1>Categories</h1>

   <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Description</th>
        <th>Slug</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.body %></td>
        <td><%= category.description %></td>
        <td><%= category.slug %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

-->
</div>
</div>
</div>
</div>








<% @posts.each do |post| %>
<tr>
	<td><%= post.title %></td>
	<td><%= post.description %></td>
	<td><%= post.company %></td>
	<td><%= post.email %></td>
	<td><%= post.site %></td>
	<td><%= post.phone %></td>
	<td><%= link_to 'Show', post %></td>
	<td><%= link_to 'Edit', edit_post_path(post) %></td>
	<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>



